<div class="front-page">
  <div class="row">

    <%# List of collections is from CollectionHelper  %>
    <% highlighted_collections.each do |collection| %>
        <div class="cover-box">
          <figure class="collection-cover">
            <%= image_link_to_collection collection %>
            <figcaption>
              <%= text_link_to_collection collection %>
            </figcaption>
          </figure>
        </div>
    <% end %>

  </div>
</div>

<script>
  $(function () {
    $('#about a').on('click', function (e) {
      e.preventDefault();

      if ($('#about-content').html() == "") {
        $('#about-content').load($(this).attr("href"), function () {
          $('#about-content').show();
        });
      } else {
        $('#about-content').toggle();
      }
    });
  });
</script>
