/*FEED BACK BUTTON EDITS */

.row_feedback {
  padding: 0;
  margin: 0 15px;
}

.row_feedback label {
  font-weight: normal;
}

.row_feedback .menu_input, .row_feedback select {
  width: 100%;
}

.row_feedback textarea {
  resize: none;
  width: 100%;
  height: 80px;
}

.form_section {
  background: #EAEAEA;
  padding: 5px;
}

@media (max-width: 768px) {
  .feedback_button {
    margin: 0 0 5px 0;
  }
}

.feedback_button:hover {
  background: none repeat scroll 0 0 #710000;
}

/* Feedback Form */

#bcl-feedback {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

#bcl-feedback:target {
  opacity: 1;
  pointer-events: auto;
  display: block;
  height: auto;
}

#bcl-feedback > .visible-form {
  width: 600px;
  max-width: 100%;
  position: relative;
  margin: 2% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
}

.bcl-modal-header {
  height: 2em;
  margin-bottom: 1.5em
}

.bcl-modal-header h3 {
  float: left;
  height: 1em;
  width: 95%;
  margin: 1em 0;
}

.bcl-modal-body {
  clear: both;
}

.bcl-modal-body p {
  line-height: 1.5;
  margin-bottom: 1.5em
}

.bcl-modal-header .close-modal {
  float: left;
  width: 5%;
  height: 1em;
  text-align: right;
  font-weight: bold;
}

.bcl-modal-header .close-modal:hover {
  text-decoration: none;
}

.website-feedback p {
  margin-bottom: 1em;
}

.website-feedback p label {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}

.website-feedback p input, .website-feedback p textarea {
  width: 100%;
  border: 1px solid #cecfca;
}

#feedback-text {
  height: 8em
}

.website-feedback p input.feedback_button {
  background: none repeat scroll 0 0 #990000;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 3px solid #510000;
  border-radius: 0 0 0 0;
  height: 34px;
  width: 25%;
  min-width: 100px;
  color: #fff;
  float: right;
}